[build]
  builder = "nixpacks"
  buildCommand = "npm install"

[deploy]
  startCommand = "node index.js"
  healthcheckPath = "/api/health"
  restartPolicyType = "ON_FAILURE"
  restartPolicyMaxRetries = 3
